.container{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
position: sticky;
top: 0;
background-color: var(--primary-color);
color:var(--secondary-color);
  z-index: 100;
}
.home{
    cursor: pointer;
    font-size: 2rem;
}
.profilePic{
width: 4rem;
height: 4rem;
border-radius: 50%;
object-fit: cover;
}

.minicontainer1{
display: flex;
}
.minicontainer2{

}
.minicontainer2>div{
    cursor: pointer;

    background-color: var(--third-color);
    color: var(--fourth-color);
    border: 1px solid var(--third-color);
    border-radius: 0.3rem;
    padding:0.5rem;
    margin: 0.3rem;
}
.minicontainer2>div:hover{
    border: 1px solid var(--fourth-color);
    background-color: var(--primary-color);
    color:var(--fourth-color);
    border-radius: 0.3rem;

}
.logout{
    cursor: pointer;

    background-color: var(--third-color);
    color: var(--fourth-color);
    border: 1px solid var(--third-color);
    border-radius: 0.3rem;
    padding:0.5rem 0;
    margin: 0.3rem;
text-align: center;
}

.logout:hover{
    border: 1px solid var(--fourth-color);
    background-color: var(--primary-color);
    color:var(--fourth-color);
    border-radius: 0.3rem;
}