.container{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
position: sticky;
top: 0;
background-color: white;
  z-index: 100;
}
.home{
    cursor: pointer;
    font-size: 2rem;
   
}
.profilePic{
width: 4rem;
height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
.minicontainer1{
display: flex;
}
.minicontainer2{

}
.minicontainer2>div{
    cursor: pointer;
}