/* RenterEachLocation.module.css */
.container {
    display: flex;
    min-height: 100vh;
  }
  .left{
    width: 80%;
  }
  .carGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .carItem {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    
    margin-bottom: 10px;
  }
  
  .carBrand,
  .carModel,
  .carYear,
  .carPrice {
    margin-bottom: 10px;
  }
  
  .carPhoto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
  }
  
  .error,
  .loading {
    text-align: center;
    padding: 10px;
    color: red;
  }
  /* AddCarForm.module.css or similar */

.carFormContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carFormContainer label {
  margin-top: 10px;
  font-weight: bold;
}

.carFormContainer input[type="text"],
.carFormContainer input[type="number"],
.carFormContainer input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Important for padding/border to be included in width */
}

.carFormContainer button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.carFormContainer button:hover {
  background-color: #0056b3;
}

.carFormContainer div { /* for formError */
    color: red;
    margin-top: 10px;
}
.deleteicon{
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: grey;
}
.deleteicon:hover{
  background-color: red;
  color:green;
}